* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-width:90vw;
  min-height:90vh;
  padding:40px 3opx;
  margin:auto;

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;

  border-radius: 15px;
  gap:20px;
  background-color: #f6ebeb;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
}

.color-code {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #222;
}

.btn-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  border: none;
  padding: 14px 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  font-size:64px;
  font-weight: 700;
  transition: all 0.25s ease;
}

button:hover {
   box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

button.active {
  border: 2px solid black;
}

/** responsive CSS**/
@media (max-width: 768px) {
  .container {
    width: 94vw;
    min-height: 94vh;
    padding: 16px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .btn-group {
    flex-wrap: wrap;
    gap: 10px;
  }

  button {
    font-size: 13px;
    padding: 7px 12px;
  }
}
